body {
      min-width: 1040px;
      margin: 0;
      padding: 0;
      font-family: Tahoma, sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
}

.container {
      width: 1020px;
      margin: 0 auto;
      padding: 0 10px;
}

.main-header {
      padding-top: 32px;
      padding-bottom: 79px;
      background-color: #6451d5;
}

.fixed {
  position: fixed;
     z-index: 19;
     top:0;
     width: 100%;
     margin: auto;
     background-color: #6451d5;
     height: 100px;
   }


.header-top{
    position: fixed;
    z-index: 20;
    width: 980px;
    margin: auto;
    padding: 5px 0px;
    padding-bottom: 0;
    top: 0;
    left: auto;
    right: auto;
    bottom: auto;
    background-color: #6451d5;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
  margin-bottom: 120px;
}

.header-top::after {
      display: table;
      clear: both;
      content: "";
}

.logo {
      float: left;
      margin-top: 10px;
      height: 80px;
      width: 182px;
}

.logo img {
      display: block;
}

.main-menu {
      float: right;
      height: 40px;
      width: 670px;
      margin-top: 25px;
}

.main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
}

.main-menu li {
      display: inline-block;
      vertical-align: top;
      margin-right: 46px;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      font-family: Trebuchet MS, sans-serif;
}

.main-menu li:last-child {
      margin-right: 0;

}

.main-menu a {
      text-decoration: none;
      color: #ffffff;
}

.main-menu a:hover {
      text-decoration: underline;
}

.main-menu a:active {
      text-decoration: none;
      opacity: 0.3;
}

.main-header .main-menu-inner li {
      font-weight: normal;
      opacity: 0.8;
}

.main-header .main-menu-inner li:first-child {
      font-weight: bold;
      opacity: 1;
}

.promo{
  position: relative;
  z-index: 10;
  min-height: 330px;
  width: 450px;
  margin-top:100px;
}

.promo::after{
content: "";
position: absolute;
z-index: -1;
top: -30px;
left: 400px;
width: 830px;
height: 433px;
background-image: url("../img/promo.png");
background-repeat: no-repeat;
}


.page-title {
  padding-top: 60px;
  color: #000;

}

.promo-title,
.page-title{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.promo p{
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.btn{
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #999999;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.promo .btn{
  margin-top: 12px;
  width: 260px;
}

.breadcrumbs{
  margin:0;
  padding:0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li{
  position: relative;
  display: inline-block;
  margin-right: 50px;
  color: #000;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
}

.breadcrumbs li a {
  color: #000;
}

.breadcrumbs li::after{
  content:"";
  position: absolute;
  top: 10px;
  right: -35px;
  width: 19px;
  height: 4px;
  background-image: url("../img/ico-nav-arrow.png");
  background-repeat:no-repeat;
}

.breadcrumbs li:last-child{
  margin-right: 0;
}

.breadcrumbs li:last-child::after{
  content: none;
}

.breadcrumbs a{
  color: #000;
  text-decoration: none;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.breadcrumbs a:active{
  text-decoration: underline;
  opacity: 0.3;
}

.btn-green{
  background: #00b770;
}

.btn-green:hover{
  background: #00a666;
}
.btn-green:active{
  background: #00a666;
  color: #74c39e;
}

.features{
  padding-top: 115px;
  padding-bottom: 75px;
  background-color: #efefef;
}

.features .container::after{
  content: "";
  display: table;
  clear: both;
}

.features-item{
  position: relative;
  float:left;
  width: 300px;
  margin-right:40px;
}

.features-item::after{
  content: "";
  display: table;
  clear:both;
}

.features-icon {
      position: absolute;
      left: 80px;
      bottom: 120px;
      width: 73px;
      height: 67px;
      background-image: url("../img/icon1.png");
      background-color: lightblue;
      border-radius: 30px;
      padding: 20px;
      background-repeat: no-repeat;
      background-position: center;
}

.features-item .features-icon-practice{
      background-image: url("../img/icon2.png");
}

.features-item .features-icon-work{
      background-image: url("../img/icon3.png");
}

.features-item:last-child{
  margin-right:0px;
}

.features-title{
margin: 0;
margin-bottom: 28px;
text-transform: uppercase;
font-size: 18px;
line-height: 24px;
}

.features-item p{
margin: 0;
color: #404040;
font-size: 18px;
line-height: 24px;
}

.feedback{
  padding-top: 85px;
  padding-bottom: 80px;
}

.feedback .container{
  position: relative;
  margin-bottom: 200px;
}

.feedback-all{
  position: absolute;
  top: 8px;
  right: 0;
  padding-right: 68px;
  background-image: url("../img/dots.png");
  background-position: 150px 7px;
  background-repeat: no-repeat;
  color: #000000;
  text-decoration: none;
  text-transform:uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.feedback-all:hover{
  color: #00a666;
}

.feedback-all:active{
  opacity: 0.3;
}

.contacts-title{
  margin: 0;
  margin-bottom: 65px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
}
.feedback-title{
margin: 0;
margin-bottom: 65px;
text-transform: uppercase;
font-size: 40px;
line-height: 48px;
}

.feedback-author{
  position: relative;
  float:left;
  padding-left: 170px;
  width:130px;
}

.feedback-author img{
  position:absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}

.feedback-author h3{
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.feedback-author p{
  margin: 0;
  color: #404040;
}

.feedback-content{
  float:right;
  width: 640px;
  margin: 0;
  min-height: 140px;
}

.feedback-content h3{
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}

.feedback-content p{
  margin: 0;
  color: #404040;
}

.feedback-content::before {
  content: "";
  position: absolute;
  clear:both;
  width: 26px;
  height: 20px;
  background-color: #000;
  background-repeat: no-repeat;
  background-color: white;
}

.feedback-content::after {
  content: "";
  position: absolute;
  clear:both;
  width: 26px;
  height: 20px;
  background-color: #000;
  background-repeat: no-repeat;
  background-color: white;
}
.feedback-content::before{
  top: 100px;
  left: 315px;
  background-image: url("../img/quote-open.png");
}

.feedback-content::after {
  right: -5px;
  bottom: -220px;
  background-image: url("../img/quote-close.png");
}
.learning-form {
      padding-top: 55px;
      padding-bottom: 72px;
}

.learning-form .learning-form-title {
      margin: 0;
      margin-bottom: 55px;
      min-height: 50px;
}

.learning-form table {
      height: 275px;
      border: 2px solid #a7a7a7;
      border-collapse: collapse;
}

.learning-form th {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
    padding-left: 31px;
    border: 2px solid #a7a7a7;
    background-color: #efefef;
}

.learning-form tr {
    margin: 0;
    border: 2px solid #a7a7a7;
}

.learning-form td {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 31px;
    border: 2px solid #a7a7a7;
}

.contacts{
  padding-top: 85px;
  padding-bottom: 80px;
  background-color: #efefef;
}

.contacts .container{
  display: table;
  clear: both;
  content: "";
}

.contacts-form{
  float: left;
  width: 640px;
  min-height: 420px;
}

.contacts-form td{
  padding-bottom: 10px;
}

.contacts-form .title{
  width: 90px;
  padding-right: 20px;
  vertical-align: top;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  line-height: 54px;
}

.contacts .title-sex {
      width: 94px;
      padding-right: 12px;
      padding-top: 0;
      text-align: right;
      vertical-align: top;
      font-family: Trebuchet MS, sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;

}

.contacts-form .field{
  width: 470px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: Arial, sans-serif;
  outline: none;
  border: 2px solid #b2b2b2;
  border-radius: 2px;
}

#man,
#woman{
      margin-right: 30px;
}

#woman{
      margin-left: 64px;
}

.contacts-form input[type="text"]:hover,
.contacts-form textarea:hover {
  border: 2px solid #7f7f7f;
}

.contacts-form input[type="text"]:focus,
.contacts-form textarea:focus {
  border: 2px solid #00b770;
}

.contacts-form textarea {
    min-height: 105px;
    resize: none;
  }

.contacts-form .btn{
  width: 100%;
  border-radius: 3px;
}

.contacts-instruction{
  float: right;
  width: 300px;
}

.contacts-instruction h3{
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}
.contacts-instruction p{
  margin: 0;
  margin-bottom: 25px;
  color: #404040;
  font-size: 18px;
  line-height: 24px;
}

.contacts-instruction .contacts-alert{
  margin-top: 120px;
  margin-bottom: 0;
}

.contacts-alert strong{
  color: #000000;
}

.inner-content {
  margin-top: 85px;
  margin-bottom: 75px;
}

.inner-content h2,
.inner-content h3{
  margin-top: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}

.inner-content h2 + h3 {
  margin-top: 24px;
  }

.inner-content p{
  margin: 24px 0;
  color: #404040;
  font-size: 16px;
  line-height: 24px;
}

.inner-content a{
  color: #3366cc;
}

.inner-content a:hover{
  color: #00a666;
}

.inner-content a:active{
  color: #00a666;
  opacity: 0.3;
}

.inner-content hr{
  margin: 55px 0;
  border: none;
  border-bottom: 1px solid #d3d2d2;
}

.inner-content blockquote{
  margin: 24px 0;
  padding-left: 35px;
  border-left: 2px solid #00b770;
  color: #000;
  font-style:italic;
  font-size: 16px;
  line-height: 24px;
}

.inner-content table{
  width: 100%;
  border-collapse: collapse;
}

.inner-content td{
  padding: 10px 19px;
  border: 1px solid #d3d2d2;
  color: #404040;
  font-size: 18px;
  line-height: 24px;
}

.inner-content thead td{
  background: #efefef;
  font-weight: 600;
}

.padded-content{
  position: relative;
  padding-left: 340px;
}

.padded-content .padded-title{
  position: absolute;
  left: 0;
  max-width: 300px;
  margin-top: 0;
}

.custom-list-1{
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-list-1 li{
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.custom-list-1 li::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 27px;
  border-bottom: 2px solid #00b770;
}

.main-footer {
      padding-top: 65px;
      padding-bottom: 90px;
      background-color: #2a2546;
      color: #fff;
      line-height: 24px;

}
.main-footer .footer::after{
      display: table;
      content: "";
      clear: both;
}

.main-footer .footer-address {
      float: left;
      width: 235px;
      margin-right: 106px;
}

.footer-menu{
      float: left;
      margin-top: 25px;
      width: 180px;
      min-height: 175px;
      margin-bottom: 30px;
}

.footer .footer-menu-index {
      width: 174px;
}

.footer-menu-last {
    width: 135px;
    margin-left: 20px;
}

.main-footer .footer-menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
}

.main-footer .footer-menu h3 {
      margin:0;
      margin-bottom: 34px;
      font-size: 19px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: bold;
}

.main-footer .footer-menu li {
      margin-bottom: 25px;
}

.main-footer .footer-menu a {
      font-size: 18px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: normal;
      color: #bcb3f2;
      text-decoration: none;
}

.main-footer .footer-menu:last-child{
      float: right;
      width: 136px;
}


.footer-address .logo {
      float: none;
      margin: 0;
      margin-bottom: 81px;
}

.footer-address p {
    font-size: 18px;
    line-height: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}

.footer-bottom{
  margin-top: 45px;
}

.footer-bottom::after{
  display: table;
  clear: both;
  content: "";
}

.copyright{
  float: left;
  width: 300px;
  margin-right: 40px;
}

.footer-bottom .index-—Åopyright {
  float: left;
  width: 300px;
  margin-left: 0px;
  margin-right: 40px;
}

.footer-social-promo{
  margin-top: -24.5px;
  margin-left: 340px;
  float: left;
  width: 420px;
}

.footer-bottom .index-social-promo {
  margin-top: 0;
  margin-left: 0;
}



.footer-social{
  margin-top: -26px;
  float: right;
  text-align: right;
  width: 170px;
  font-size: 0;
}

.main-footer .footer-social-index {
  margin-top: 0;
  }

.social-btn{
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}

.social-btn-vk{
  width: 36px;
  height: 24px;
  background-image: url("../img/ico-vk.png");
  background-repeat: no-repeat;
}

.social-btn-fb{
  width: 23px;
  height: 35px;
  background-image: url("../img/ico-fb.png");
  background-repeat: no-repeat;
}

.social-btn-tw{
  width: 36px;
  height: 30px;
  background-image: url("../img/ico-tw.png");
  background-repeat: no-repeat;
}

.social-btn-vk:hover{
  background-image: url("../img/ico-vk-active.png");
}

.social-btn-fb:hover{
  background-image: url("../img/ico-fb-active.png");
}

.social-btn-tw:hover{
  background-image: url("../img/ico-tw-active.png");
}
