body {
      min-width: 1460px;
      margin: 0;
      padding: 0;
      font-family: Gilroy, sans-serif;
      font-size: 18px;
      line-height: 19px;
      background: rgba(4, 4, 4, 0.03);
}

.container {
      position: relative;
      width: 1440px;
      margin: 0 auto;
      padding: 0 10px;
}

.header-top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      height: 75px;
      margin-top: 20px;
      z-index: 10;
      margin-bottom: 35px;
}


.header-social {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      font-size: 0;

}

.social-btn{
      padding-right: 25px;

}

.social-btn-vk {
      width: 34px;
      height: 34px;
      background-image: url("../img/ico-vk.png");
      background-repeat: no-repeat;
}

.social-btn-vk:hover {
      background-image: url("../img/ico-vk-active.png");

}

.social-btn-vk:active{
      opacity: 0.7;
}

.social-btn-inst {
      width: 27px;
      height: 27px;
      background-image: url("../img/ico-instagram.png");
      background-repeat: no-repeat;
}

.social-btn-inst:hover {
      background-image: url("../img/ico-instagram-active.png");
}

.social-btn-inst:active{
      opacity: 0.7;
}

.social-btn-fb {
      width: 25px;
      height: 25px;
      background-image: url("../img/ico-fb.png");
      background-repeat: no-repeat;
}

.social-btn-fb:hover {
      background-image: url("../img/ico-fb-active.png");
}

.social-btn-fb:active{
      opacity: 0.7;
}

.header-top .header-title {
      position: relative;
      width: 264px;
      height: 75px;
      font-weight: bold;
      font-size: 60px;
      line-height: 72px;
  }

.header-top .header-title::before{
      content: "";
      position: absolute;
      z-index: 0;
      top: -12px;
      left: 98px;
      opacity: 0.7;
      width: 50px;
      height: 36px;
      background-image: url("../img/ico-flower-top.svg");
      background-repeat: no-repeat;
}

.header-top .phone {
      position: relative;
}

.header-top .phone::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -7px;
      left: -50px;
      opacity: 0.7;
      width: 30px;
      height: 30px;
      background-image: url("../img/ico-phone.svg");
      background-repeat: no-repeat;
}

.main-menu {
      display: grid;
      position: relative;
      justify-content: center;
      margin-bottom: 750px;
}

.main-menu li {
      display: inline-block;
      margin-right: 50px;
}

.main-menu li a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      opacity: 0.7;
      font-weight: bold;
      font-size: 16px;
}

.main-menu li a:hover {
      color: #D27E00;
}

.main-menu li a:active {
      opacity: 0.5;
}

.main-menu::after{
      content: "";
      clear: both;
      position: absolute;
      z-index: 2;
      width: 730px;
      height: 635px;
      top: 105px;
      left: 24.5%;
      background-image: url("../img/header-foto.png");
      background-repeat: no-repeat;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
      background-color: rgba(4, 4, 4, 0.03);
}

.promo {
      position: relative;
      left: 285px;
      height: 332px;
      width: 877px;
      margin-bottom: 55px;
}

.promo .promo-title {
      position: relative;
      left: 65px;
      width: 750px;
      margin-bottom: 75px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #000000;
      margin-bottom: 210px;
}

.promo-items {
      display: flex;
      justify-content: space-between;
}

.promo-item {
      position: relative;
}

.promo-item p{
      width: 200px;
      height: 45px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
}


.promo-icon {
      position: absolute;
      left: 25px;
      bottom: 90px;
      width: 70px;
      height: 70px;
      background-image: url("../img/ico-pharmacy.svg");
      background-color: #EFF310;
      border-radius: 50%;
      padding: 40px;
      background-repeat: no-repeat;
      background-position: center;
}

.promo-item .promo-icon-woman {
        background-image: url("../img/ico-pilates.svg");
}

.promo-item .promo-icon-heart {
        background-image: url("../img/ico-heart.svg");
}

.promo-item .promo-icon-sun {
        background-image: url("../img/ico-sun.svg");
}

.block {
        position: relative;

}

.colorblock {
        width: 1000px;
        height: 55px;
        opacity: 0.5;
        background-color: #EFF310;
}

.block .yellow-block{
        position: relative;
        left: -50px;
        background-color: #EFF310;
}

.block .green-block{
        position: relative;
        bottom: 55px;
        right: -495px;
        background-color: #00D222;
}

.direction {
        position: relative;
        left: 550px;
}

.direction-title {
        position: relative;
        top: -10px;
        width: 375px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #000000;
        margin-bottom: 184px;
}

.direction h3 {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        z-index: 15;
}

.green-line {
        position: relative;
        top: -15px;
        width: 182px;
        height: 9px;
        background: rgba(0, 210, 34, 0.5);
}

.direction p {
        position: relative;
        top: -15px;
        width: 400px;
        height: 100px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 295px;
}

.direction p:last-child {
        margin-bottom: 180px;
}


.direction-yoga-left::after{
        content: "";
        clear: both;
        position: absolute;
        width: 560px;
        height: 410px;
        bottom: -130px;
        left: -510px;
        right: auto;
        margin: 0;
        padding: 0;
        background-image: url("../img/hatha-yoga.png");
        z-index: -2;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: rgba(4, 4, 4, 0.05);
}

.direction-yoga-right::after{
        content: "";
        clear: both;
        position: absolute;
        width: 560px;
        height: 410px;
        bottom: -100px;
        left: 275px;
        right: auto;
        margin: 0;
        padding: 0;
        background-image: url("../img/balans-yoga.png");
        z-index: -2;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: rgba(4, 4, 4, 0.05);
}

.direction .back-yoga::after{
        background-image: url("../img/back-yoga.png");
}
.direction .bikram-yoga::after{
        background-image: url("../img/bikram-yoga.png");
}

.instructor {
      height: 495px;
      margin-bottom: 20px;
}

.instructor .instructor-title {
      display: flex;
      justify-content: center;
      margin-bottom: 75px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
      margin-bottom: 320px;
}

.instructor-items {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: relative;
}

.instructor-item {
      position: relative;
      margin-right: 75px;
}

.instructor-item:last-child {
      position: relative;
      margin-right: 0;
}


.instructor-icon {
      position: absolute;
      width: 230px;
      height: 230px;
      bottom: 110px;
      left: 20px;
      background-image: url("../img/instructor.png");
      background-repeat: no-repeat;
}

.instructor .instructor-2 {
      background-image: url("../img/instructor-2.png");
}

.instructor .instructor-3 {
      left: 25px;
      background-image: url("../img/instructor-3.png");
}

.instructor .instructor-4 {
      background-image: url("../img/instructor-4.png");
      background-repeat: no-repeat;
      background-color: #948BAA;
      border-radius: 50%;
}

.instructor-item h3 {
      font-family: Gilroy;
      font-style: normal;
      font-size: 32px;
      font-weight: bold;
      line-height: 35px;
      text-align: center;
      margin: 0;
      padding: 0;
      width: 275px;
}

.instructor-item p {
      text-align: center;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      width: 275px;
      color: rgba(0, 0, 0, 0.7);
}


.tour {
      position: relative;
      height: 654px;
      margin-bottom: 55px;
}

.tour .tour-title {
      display: flex;
      justify-content: center;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
}

.tour-colorblock {
      position: absolute;
      height: 40px;
      opacity: 0.5;
}

.tour .tour-yellow-block {
      top: 570px;
      width: 690px;
      background-color: #EFF310;
}

.tour .tour-green-block {
      top: 112px;
      left: 660px;
      height: 498px;
      width: 40px;
      background-color: #00D222;
}

.india-tour {
      position: absolute;
      left: 590px;
      top: 160px;
      width: 463px;
      height: 356px;
      padding: 25px;
      padding-top: 5px;
      background-color: #ffffff;
      border: 1px solid #948BAA;
      z-index: 9;
}

.india-tour h3 {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
}

.india-tour p {
      position: relative;
      top: -10px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 55px;
}

.btn{
      display: inline-block;
      font-size: 16px;
      line-height: 19px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      vertical-align: bottom;
      text-decoration: none;
      background: #eff310;
      color: #000;
      cursor: pointer;
      outline: none;
      border: none;
}

.btn:hover{
      opacity: 0.9;
      border: 1px solid #00D222;
}

.btn:active{
      background: #00D222;
      opacity: 0.7;
}

.india-tour .btn-yellow {
      padding: 15px 70px;
      border-radius: 35px;
}

.tour .container::after{
      position: absolute;
      content: "";
      clear: both;
      width: 670px;
      height: 478px;
      top: 112px;
      background-image: url("../img/india-tour.png");
      z-index: 8;
}

.tour .container a img {
  position: absolute;
  content: "";
  clear: both;
  width: 70px;
  height: 70px;
  right: -110px;
  top: 150px;
  z-index: 10;
}

.tour .container a img:hover {
opacity: 0.9;
}

.tour .container a img:active {
opacity: 0.7;
}

.price-title {
      display: flex;
      justify-content: center;
      margin-bottom: 75px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
}

.price-block{
      display: flex;
      justify-content: center;
      margin-bottom: 55px;
}

.price .lessons {
      display: inline-block;
      position: relative;
      width: 320px;
      padding-left: 60px;
      padding-top: 30px;
      margin-right: 83px;
      height: 461px;
      background: conic-gradient(from -2.47deg at -24.29% 111.06%,
        rgba(0, 210, 34, 0.09) 0deg, rgba(0, 210, 34, 0.6) 21.72deg,
        rgba(0, 210, 34, 0.378568) 44.58deg, rgba(0, 210, 34, 0.09) 360deg);
      border-radius: 20px;
}

.price .lessons:last-child {
      margin-right: 0;
}

.lessons p {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      width: 200px;
      color: rgba(0, 0, 0, 0.7);
}

.price-schedule-2 {
      margin-bottom: 50px;
}

.price-schedule::before{
      position: absolute;
      content: "";
      clear: both;
      width: 13px;
      height: 13px;
      left: 30px;
      margin-top: 10px;
      border-radius: 50%;
      background-color: #eff310;
}

.lessons h3 {
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #000000;
      margin: 0;
      margin-bottom: 60px;
}

.price-schedule {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.7);
}

.price .price-money {
      margin-bottom: 40px;
}

.price .btn-yellow {
      padding: 14px 50px;
      border-radius: 35px;
      margin-left: 35px;
}

.feedback .container {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 994px;
      height: 356px;
      background-color: #fff;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
      margin-bottom: 76px;
}

.feedback-title {
      position: relative;
      left: 120px;
      top: 35px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      color: #000000;
}

.feedback table {
      margin: 0;
      padding: 0;
      border-spacing: 70px;
}

.feedback .feedback-form input[type="text"]{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      top: -5px;
      width: 380px;
      padding: 10px 100px 10px 50px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      font-family: Gilroy;
      font-style: normal;
      outline: none;
      border: 2px solid #948BAA;
      border-radius: 28px;
      align-items: center;
      text-align: left;
}

.feedback .feedback-form input[type="text"]:hover{
      border: 2px solid #00D222;
}

.feedback .feedback-form input[type="text"]:focus{
      border: 2px solid #00D222;
      background-color: lightyellow;
}

input[type="text"]::-webkit-input-placeholder {
     color:#000;
}

.feedback .btn-yellow {
      position: relative;
      left: 355px;
      bottom: 30px;
      text-align: center;
      padding-top: 15px;
      width: 250px;
      height: 35px;
      border-radius: 35px;
}

.contacts .container{
      position: relative;
      height: 779px;
      margin-bottom: 55px;
}

.contacts .container::before {
  content: "";
  clear: both;
  position: absolute;
  width: 1440px;
  height: 701px;
  bottom: 0;
  left: 0;
  right: auto;
  margin: 0;
  padding: 0;
  background-image: url("../img/map-black.png");
}

.contacts .container::after {
  content: "";
  clear: both;
  position: absolute;
  width: 49px;
  height: 76px;
  top: 255px;
  left: 635px;
  right: auto;
  margin: 0;
  padding: 0;
  background-image: url("../img/ico-bubble.svg");
}

.contacts-title {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.contacts .address {
    position: absolute;
    width: 380px;
    height: 380px;
    left: 0;
    top: 280px;
    text-align: center;
    background-color: #fff;
}

.contacts .address h3 {
    position: relative;
    left: 60px;
    margin-top: 70px;
    margin-bottom: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align:left;
}

.contacts .address .contacts-address {
  width: 270px;
  margin-bottom: 38px;
}

.contacts .address p {
    position: relative;
    left: 90px;
    text-align:left;
    margin-bottom: 28px;
    width: 180px;
    height: 34px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7);
}

.address-colorblock {
      position: absolute;
      height: 15px;
      opacity: 0.5;
}

.address .address-yellow-block {
      top: 365px;
      width: 380px;
      background-color: #EFF310;
}

.address .address-green-block {
      top: 0px;
      left: 365px;
      height: 380px;
      width: 15px;
      background-color: #00D222;
}

.address p::before{
      position: absolute;
      content: "";
      clear: both;
      width: 13px;
      height: 13px;
      left: -30px;
      margin-top: 6px;
      border-radius: 50%;
      background-color: #eff310;
}


.footer-social {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      position: relative;
      left: 1280px;
      top: -53px;
      font-size: 0;
      width: 150px;
}

.footer-menu {
      display: flex;
      position: relative;
      justify-content: flex-start;
      width: 830px;
}

.footer-menu li {
      display: inline-block;
      margin-right: 50px;
}

.footer-menu li a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      opacity: 0.7;
      font-weight: bold;
      font-size: 16px;
}

.footer-menu li a:hover {
      color: #D27E00;
}

.footer-menu li a:active {
      opacity: 0.5;
}

.footer-colorblock {
        width: 980px;
        height: 55px;
        opacity: 0.5;
        background-color: #EFF310;
}

.footer-block .footer-yellow-block{
        position: relative;
        width: 1010px;
        left: -41px;
        background-color: #EFF310;
}

.footer-block .footer-green-block{
        position: relative;
        bottom: 55px;
        right: -500px;
        background-color: #00D222;
}

.footer-bottom .container {
      display: flex;
      justify-content: center;
      position: relative;
      top:-30px;
      font-family: Gilroy;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.7);
}

.footer-bottom p::after {
      content: "";
      clear: both;
      position: absolute;
      width: 15px;
      height: 10px;
      top: 14px;
      left: 754px;
      right: auto;
      margin: 0;
      padding: 0;
      background-image: url("../img/ico-bottom-flower.svg");
}
