body {
      min-width: 1460px;
      margin: 0;
      padding: 0;
      font-family: Tahoma, sans-serif;
      font-size: 18px;
      line-height: 19px;
      background: rgba(4, 4, 4, 0.03);
}

.container {
      width: 1440px;
      margin: 0 auto;
      padding: 0 10px;

}

.header-top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      height: 75px;
      margin-top: 20px;
      z-index: 10;
      margin-bottom: 35px;
}


.header-social {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      font-size: 0;

}

.social-btn{
      padding-right: 25px;

}

.social-btn-vk {
      width: 34px;
      height: 34px;
      background-image: url("../img/ico-vk.png");
      background-repeat: no-repeat;
}

.social-btn-vk:hover {
      background-image: url("../img/ico-vk-active.png");

}

.social-btn-vk:active{
      opacity: 0.7;
}

.social-btn-inst {
      width: 27px;
      height: 27px;
      background-image: url("../img/ico-instagram.png");
      background-repeat: no-repeat;
}

.social-btn-inst:hover {
      background-image: url("../img/ico-instagram-active.png");
}

.social-btn-inst:active{
      opacity: 0.7;
}

.social-btn-fb {
      width: 25px;
      height: 25px;
      background-image: url("../img/ico-fb.png");
      background-repeat: no-repeat;
}

.social-btn-fb:hover {
      background-image: url("../img/ico-fb-active.png");
}

.social-btn-fb:active{
      opacity: 0.7;
}

.header-top .header-title {
      position: relative;
      width: 264px;
      height: 75px;
      font-weight: bold;
      font-size: 60px;
      line-height: 72px;
  }

.header-top .header-title::before{
      content: "";
      position: absolute;
      z-index: 0;
      top: -12px;
      left: 108px;
      opacity: 0.7;
      width: 50px;
      height: 36px;
      background-image: url("../img/ico-flower-top.svg");
      background-repeat: no-repeat;
}

.header-top .phone {
      position: relative;
}

.header-top .phone::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -7px;
      left: -50px;
      opacity: 0.7;
      width: 30px;
      height: 30px;
      background-image: url("../img/ico-phone.svg");
      background-repeat: no-repeat;
}

.main-menu {
      display: grid;
      position: relative;
      justify-content: center;
      margin-bottom: 750px;
}

.main-menu li {
      display: inline-block;
      margin-right: 50px;
}

.main-menu li a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      opacity: 0.7;
      font-weight: bold;
      font-size: 16px;
}

.main-menu li a:hover {
      color: #D27E00;
}

.main-menu li a:active {
      opacity: 0.5;
}

.main-menu::after{
      content: "";
      clear: both;
      position: absolute;
      z-index: 2;
      width: 730px;
      height: 635px;
      top: 105px;
      left: 24.5%;
      background-image: url("../img/header-foto.png");
      background-repeat: no-repeat;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
      background-color: rgba(4, 4, 4, 0.03);
}

.promo {
      position: relative;
      left: 285px;
      height: 332px;
      width: 877px;
      margin-bottom: 55px;
}

.promo .promo-title {
      position: relative;
      left: 65px;
      width: 750px;
      margin-bottom: 75px;
      font-family: Tahoma;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #000000;
      margin-bottom: 210px;
}

.promo-items {
      display: flex;
      justify-content: space-between;

}

.promo-item {
      position: relative;
}

.promo-item p{
      width: 200px;
      height: 45px;
      font-family: Tahoma;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
}


.promo-icon {
      position: absolute;
      left: 25px;
      bottom: 90px;
      width: 70px;
      height: 70px;
      background-image: url("../img/ico-pharmacy.svg");
      background-color: #EFF310;
      border-radius: 50%;
      padding: 40px;
      background-repeat: no-repeat;
      background-position: center;
}

.promo-item .promo-icon-woman {
        background-image: url("../img/ico-pilates.svg");
}

.promo-item .promo-icon-heart {
        background-image: url("../img/ico-heart.svg");
}

.promo-item .promo-icon-sun {
        background-image: url("../img/ico-sun.svg");
}

.block {
        position: relative;

}

.colorblock {
        width: 876px;
        height: 55px;
        opacity: 0.5;
        background-color: #EFF310;
}

.block .yellow-block{
        position: relative;
        left: -11px;
        background-color: #EFF310;
}

.block .green-block{
        position: relative;
        bottom: 55px;
        right: -574px;
        background-color: #00D222;
}

.direction {
        position: relative;
        left: 550px;
}

.direction-title {
        position: relative;
        top: -10px;
        width: 375px;
        font-family: Tahoma;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #000000;
        margin-bottom: 184px;
}

.direction h3 {
        font-family: Tahoma;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        z-index: 15;
}

.direction .green-line {
        position: relative;
        top: -15px;
        width: 182px;
        height: 9px;
        background: rgba(0, 210, 34, 0.5);
}

.direction p {
        position: relative;
        top: -15px;
        width: 400px;
        height: 100px;
        font-family: Tahoma;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 295px;
}

.direction p:last-child {
        margin-bottom: 150px;
}


.direction-yoga-left::after{
        content: "";
        clear: both;
        position: absolute;
        width: 560px;
        height: 410px;
        bottom: -130px;
        left: -510px;
        right: auto;
        margin: 0;
        padding: 0;
        background-image: url("../img/hatha-yoga.png");
        z-index: -2;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: rgba(4, 4, 4, 0.05);
}

.direction-yoga-right::after{
        content: "";
        clear: both;
        position: absolute;
        width: 560px;
        height: 410px;
        bottom: -100px;
        left: 275px;
        right: auto;
        margin: 0;
        padding: 0;
        background-image: url("../img/balans-yoga.png");
        z-index: -2;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
        background-color: rgba(4, 4, 4, 0.05);
}

.direction .back-yoga::after{
        background-image: url("../img/back-yoga.png");
}
.direction .bikram-yoga::after{
        background-image: url("../img/bikram-yoga.png");
}

.instructor-name {
  position: absolute;
  left: 200px;
}


/*
.instructor-title {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        font-family: Tahoma;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        background-color: green;
}
*\
